body {
	color: $text_color;
	font-family: 'Roboto', sans-serif;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.c-container {
	max-width: 1150px;
	margin: auto;
}

section {
	background-color: $bgcolor_1;
	&:nth-child(even) {
		background-color: #ffe7d2;
	}
}

.button {
	border:$border_default;
	border-color: #2e4691;
	border-radius: $border_radius;
	background-color: $bgcolor_1;
	padding: 10px;
}

a {
	text-decoration: none;
	color: #58402c;
}
