.jumbotron {
	margin: 100px auto;

	.jb {
		width: 50%;
		line-height: 1.25;

		&-image {
			@extend .jb;
			float: right;
		}

		&-claim {
			@extend .jb;
			float: left;
		}

		img {
			width: 100%;
		}

		h1,p {
			margin-bottom: 30px;
		}

		h1 {
			font-size: 50px;
			font-weight: bold;
		}

		.cta-signup {
			margin-bottom: 20px;
		}

		a {
			padding:2px 10px;
			background-color: $botton_color;
			color: $bgcolor_1;

		}

	}
}
